<div class="panel panel-primary boxShadow">
    <div class="panel-heading">
        <h3>{{ cons_info.name.first + " " + cons_info.name.last }}</h3>
    </div>
    <div class="panel-body">
        <!-- <div class="alert alert-danger col-xs-12" role="alert" ng-if="tentAddress === undefined">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">&nbsp;</span>
            <span class="sr-only">Error:</span> Visit Tent Assignment 
        </div>
        <div class="alert alert-danger col-xs-12" role="alert" ng-if="!donorServices">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">&nbsp;</span>
            <span class="sr-only">Error:</span> Visit Donor Services 
        </div>
        <div class="alert alert-danger col-xs-12" role="alert" ng-if="medform === 'No'>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">&nbsp;</span>
            <span class="sr-only">Error:</span> Visit Medical booth
        </div> -->
        <div class="row">
            <div class="col-xs-12">
                <h3 >Personal Information</h3>
                <div class="divider"></div>
            </div>
            
            <div class="col-xs-12">
                <h4>{{ cons_info.name.first + " " + cons_info.name.last }}</h4>
            </div>
        </div>
        <!-- Check-in Section: View for Check-in Volunteers -->
        <div class="row">
            <form class="form-horizontal">
                <!-- Name -->
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>First Name:</label>
                        <input ng-model="cons_info.name.first" class="form-control" ng-disabled="true" type="text" value="{{ cons_info.name.first + ' ' + cons_info.name.last }}">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>Last Name:</label>
                        <input ng-model="cons_info.name.last" class="form-control" ng-disabled="true" type="text" value="{{ cons_info.name.last }}">
                    </div>
                </div>
                <!-- Email -->
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>Email:</label>
                        <input ng-model="cons_info.email.primary_address" class="form-control" ng-disabled="true" type="text" value="{{ cons_info.email.primary_address }}">
                    </div>
                </div>
                <!-- Home Phone -->
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>Home Phone:</label>
                        <input ng-model="cons_info.home_phone" class="form-control" ng-disabled="true" type="text" value="{{ cons_info.home_phone | tel }}">
                    </div>
                </div>
<!--                 <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>Birthdate:</label>
                        <input ng-model="cons_info.birth_date" class="form-control" ng-disabled="true" type="text" value="{{ cons_info.birth_date}}">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>Street 1:</label>
                        <input ng-model="cons_info.primary_address.street1" class="form-control" ng-disabled="true" type="text" value="{{ cons_info.primary_address.street1}}">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>Street 2:</label>
                        <input ng-model="cons_info.primary_address.street2" class="form-control" ng-disabled="true" type="text" value="{{ cons_info.primary_address.street2}}">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>City:</label>
                        <input ng-model="cons_info.primary_address.city" class="form-control" ng-disabled="true" type="text" value="{{ cons_info.primary_address.city}}">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>State:</label>
                        <input ng-model="cons_info.primary_address.state" class="form-control" ng-disabled="true" type="text" value="{{ cons_info.primary_address.state}}">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>ZIP:</label>
                        <input ng-model="cons_info.primary_address.zip" class="form-control" ng-disabled="true" type="text" value="{{ cons_info.primary_address.zip}}">
                    </div>
                </div>
            </form>
        </div> -->
        <!-- AIDS/LifeCycle Information -->
  <!--       <div class="row">
            <div class="col-xs-12">
                <h3>AIDS/LifeCycle Information</h3>
                <div class="divider"></div>
            </div>
        </div>
        <div class="row">
            <form class="form-horizontal">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>Type:</label>
                        <input class="form-control" ng-disabled="true" type="text" value="{{ cons_info.custom.string[0].content }}">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>Region:</label>
                        <input class="form-control" ng-disabled="true" type="text" value="{{ cons_info.custom.string[13].content }}">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6" ng-if="cons_info.custom.string[0].content === 'ROADIE'">
                    <div class="form-group">
                        <label>Roadie Team Assignment:</label>
                        <input class="form-control" ng-disabled="true" type="text" value="{{ roadieTeamAssignment }}">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6" ng-if="cons_info.custom.string[0].content === 'ROADIE'">
                    <div class="form-group">
                        <label>Roadie Team Captain:</label>
                        <input class="form-control" ng-disabled="true" type="text" value="{{ roadieTeamCaptain }}">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>Participant Number:</label>
                        <input class="form-control" ng-disabled="true" type="text" value="{{ alcnum }}">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>Medical Form Complete:</label>
                        <input class="form-control" ng-disabled="true" type="text" value="{{ medform }}">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>Meal Preference:</label>
                        <input class="form-control" ng-disabled="true" type="text" value="{{ mealPreference }}">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>Tent Address:</label>
                        <input ng-model="tentAddress" class="form-control" ng-disabled="false" type="text" value="{{ tentAddress }}">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>Tent Group:</label>
                        <input ng-model="tentKeyword" class="form-control" ng-disabled="true" type="text" value="{{ tentKeyword }}">
                    </div>
                </div> -->
            </form>
        </div> <!-- End AIDS/LifeCycle Information -->
</div>

    
    <!-- Check-In Controls -->
    <div class="row">
        <div class="col-xs-12 dotr_button">
            <img ng-if="coney" ng-src="img/coney.png" style="width:10%; margin-bottom:10px;"  alt=""><br />
            <button ng-click="checkIn()" class="btn btn-success part-info">CHECK-IN</button>
        </div>
    </div>
</div>
</div>
